<%- include('../partials/header'); %>

<div class="container">
<div class="row">
    <div class="col-md-3">
        <div class="lead">freeHand</div>
            <div class="list-group">
                <div class="list-group-item">Info</div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <!-- <img src="<%=camp.image%>" alt=""> -->
                <iframe width="800" height="500" src="<%=camp.image%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                <!-- <video controls="true" src="https://www.youtube.com/watch?v=1wZoGFF_oi4&list=PLZlA0Gpn_vH_NT5zPVp18nGe_W9LqBDQK&index=1&ab_channel=WebDevSimplified" autoplay="none" preload="auto" width="600" height="400"> -->
                
                <div class="caption-full">
                    <h4><a href="#"><%=camp.name%></a></h4>
                    <p><%=camp.description%></p>
                    <p>
                        <em>Submitted by <%=camp.author.username%></em>
                    </p>
                    <% if(currentUser && camp.author.id.equals(currentUser._id)){ %>
                        <a href="/campgrounds/<%=camp._id%>/edit" class="btn">Edit Course Details</a>
                        <form  id="form-button" action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
                            <button class="btn">Delete Course</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <a class="btn btn-small pull-right" href="/campgrounds/<%=camp._id%>/comments/new">Leave a Review</a>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <% camp.comments.forEach(function(comment){ %>
                            <p>
                                <strong><%=comment.author.username%></strong>
                            </p>
                            <p class="comment-content"><%=comment.text%></p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a href="/campgrounds/<%=camp._id%>/comments/<%=comment._id%>/edit" class="btn btn-xs">Edit</a>
                            <form id="form-button" action="/campgrounds/<%=camp._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-xs">Delete</button>
                            </form>
                            <%}%>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer'); %>
